{% extends 'base.html' %}
{% block main %}
{% load static %}
{% comment %} Vertical Navigation {% endcomment %}
    <title>resQSquad</title>
    <body>
        <center>
        <div style="padding: 10px 20px;">
          <h2>The page Redirects to the chatbot</h2>
          <div style="margin-top: 20px;">
            <button style="padding: 10px 20px; border-radius: 5px; background-color: #4CAF50; color: white;">
              <a href="http://localhost:8501/" style="text-decoration: none; color: white;">Go to ChatBOT App</a>
            </button>
         </div> 
        </div>
        </center>
      </body>
{% endblock main %}